:root {
    --red: hsl(7, 80%, 56%);
    --green: hsl(125, 80%, 56%);

    --dark: hsla(0, 0%, 0%, 0.25);

    --grey: hsl(228.8, 20%, 70%);
    --blue: hsl(228.8, 90%, 50%);
    --blue-medium: hsl(228.8, 80%, 15%);
    --blue-deep: hsl(228.8, 80%, 10%);
    --blue-dark: hsl(228.8, 80%, 5%);

    --violet-dark: hsl(265, 100%, 25%);
    --violet: hsl(265, 80%, 35%);
    --violet-white: hsl(265, 60%, 45%);

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;



}

body {
    padding: 0;
    margin: 0;
    /* display: flex; */
    min-height: 100vh;
    /* flex-direction: column;
    justify-content: space-between; */
    color: white;
    background-color: var(--blue-dark);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 0.1em dotted transparent;
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
}

.link:hover {
    border-color: var(--blue);
    filter: brightness(1);
}

.hidden {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* header  */
header {
    display: flex;
    align-items: center;
    background-color: var(--blue-deep);
    height: 3em;
    padding-left: 10%;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
}


#boardsMenu{
    display: flex;
    background-color: var(--dark);
    padding: 0.75em 0.5em 0;
}
#boardsMenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

#boardsMenu ul li{
    cursor: pointer;
    display: block;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em;
    color: var(--grey);
    border-right: 0.1em solid var(--blue-deep);
    margin-right: 0.2em;
}

#boardsMenu ul li .titleBoard::placeholder {
    color: var(--grey);
}

#boardsMenu ul li .titleBoard:hover::placeholder,
#boardsMenu ul li .titleBoard:hover{
    color: white;
}

#boardsMenu ul li .titleBoard:read-only {
    cursor: pointer;
    width: 7.5em;
}

#boardsMenu ul li.active,
#boardsMenu ul li.active .titleBoard{
    background-color: var(--blue-deep);
    color: white;
}


#boardsMenu ul li .titleBoard {
    display: block;
    margin-top: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    color: var(--grey);
    width: 10em;
    padding: 0;
}

#boardsMenu ul li .titleBoard:focus {
    outline: none;
    color: white;
}


#boardsMenu #createBoard{
    cursor: pointer;
    color: var(--grey);
    border: 0.1em solid var(--blue-deep);
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    background-color: var(--dark);
    transition: background-color 0.3s ease;
}
#boardsMenu #createBoard:hover{
    color: white;
    background-color: var(--blue-deep);
}

/* boards */
#boards{
    border-top: 1em solid var(--blue-deep);
    padding: 0.5em 0.5em 0;
}



/* taskBoard */
.board {
    display: none;
}
.board.active{
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
}

.board::-webkit-scrollbar {
    height: 0.8em;
    background-color: transparent;
}
.board::-webkit-scrollbar-thumb {
    border-bottom: 0.5em solid var(--grey);
}


.columns{
    height: calc(100vh - 8.5em);
    box-sizing: border-box;
    display: flex;
}

/* co.column */
.column {
    margin-right: 0.5em;
    width: 22em;
    min-width: 22em;
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 2em 1fr 2em;
    border: 0.1em solid var(--blue-deep);
    border-radius: 0.5em;
    overflow: hidden;
    padding: 0.5em;
    box-sizing: border-box;
}

.column .titleColumn {
    margin-top: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 1.2em;
    color: var(--grey);
}

.column .titleColumn:focus {
    outline: none;
    color: white;
}

.column .titleColumn::placeholder {
    color: var(--grey);
}

/* listTask*/
.column .listTask {
    margin: 0;
    padding: 0.5em 0 0;
    margin-bottom: 0.5em;
    overflow-y: auto;
    list-style: none;
    border-top: 0.1em solid var(--blue-deep);
    border-bottom: 0.1em solid var(--blue-deep);
}

.column .listTask::-webkit-scrollbar {
    width: 0.3em;
    background-color: transparent;
}
.column .listTask::-webkit-scrollbar-thumb {
    border-right: 0.1em solid var(--grey);
}

.column .listTask .task {
    cursor: grab;
    background-color: var(--blue-deep);
    border: 0.1em solid var(--blue-deep);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;

}
.column .listTask .task:hover {
    filter: brightness(1.2);
}

.column .listTask .task .identificationTask {
    color: var(--grey);
    font-size: 0.8em;
    margin: 0;
}

.column .listTask .task .titleTask {
    margin: 0.5em 0;
}

.column .listTask .task .tagsTask span {
    color: var(--grey);
    font-size: 0.8em;
    border-radius: 1em;
    border: 0.1em solid var(--grey);
    box-sizing: border-box;
    padding: 0 0.5em;
}


.column .createTask {
    cursor: pointer;
    color: var(--grey);
    border: 0.1em solid var(--blue-deep);
    border-radius: 0.5em;
    background-color: var(--blue-deep);
}
.column .createTask:hover {
    filter: brightness(1.2);
}

.createColumn {
    cursor: pointer;
    color: var(--grey);
    border: 0.1em solid var(--blue-deep);
    border-radius: 0.5em;
    background-color: var(--dark);
    transition: background-color 0.3s ease;
}
.createColumn:hover{
    color: white;
    background-color: var(--blue-deep);
}