:root {
    --dark: hsla(0, 0%, 0%, 0.25);

    --grey: hsl(228.8, 20%, 70%);
    --blue: hsl(228.8, 90%, 50%);
    --blue-medium: hsl(228.8, 80%, 15%);
    --blue-deep: hsl(228.8, 80%, 10%);
    --blue-dark: hsl(228.8, 80%, 5%);

    --violet-dark: hsl(265, 100%, 25%);
    --violet: hsl(265, 80%, 35%);
    --violet-white: hsl(265, 60%, 45%);

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;



}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: var(--blue-dark);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 0.1em dotted transparent;
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
}

.link:hover {
    border-color: var(--blue);
    filter: brightness(1);
}

.hidden {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* header  */
header {
    display: flex;
    align-items: center;
    background-color: var(--blue-deep);
    height: 3em;
    padding-left: 10%;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
}


main {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.error {
    text-align: center;
    max-width: 25em;
    margin: auto;
}

.error .art {
    font-size: 10em;
    margin: 0;
    color: white;
    background-color: var(--dark);
    max-width: 2em;
    margin: auto;
}

.error .art:hover {
    color: white;
    background-color: var(--blue-deep);
}

.error .title {
    font-size: 175%;
    margin-bottom: 0;
}

.error .reminder {
    display: block;
    margin-top: 1em;
    font-size: 80%;
    color: var(--grey);
}


/* footer */
footer {
    background-color: var(--dark);
    text-align: center;
    color: white;
}