:root {
    --red: hsl(7, 80%, 56%);
    --green: hsl(125, 80%, 56%);

    --dark: hsla(0, 0%, 0%, 0.25);

    --grey: hsl(228.8, 20%, 70%);
    --blue: hsl(228.8, 90%, 50%);
    --blue-medium: hsl(228.8, 80%, 15%);
    --blue-deep: hsl(228.8, 80%, 10%);
    --blue-dark: hsl(228.8, 80%, 5%);

    --violet-dark: hsl(265, 100%, 25%);
    --violet: hsl(265, 80%, 35%);
    --violet-white: hsl(265, 60%, 45%);

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;



}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: var(--blue-dark);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 0.1em dotted transparent;
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
}

.link:hover {
    border-color: var(--blue);
    filter: brightness(1);
}

.hidden {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* header  */
header {
    display: flex;
    align-items: center;
    background-color: var(--blue-deep);
    height: 3em;
    padding-left: 10%;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
}


/* register form*/
.register {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

.register .warning {
    display: block;
    color: white;
    background-color: var(--red);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 0;
}


.register .title {
    font-size: 175%;
    margin-bottom: 0;
}

.register .caption {
    margin-top: 0;
    font-size: 80%;
    color: var(--grey);
}

.register .reminder {
    display: block;
    margin-top: 1em;
    font-size: 80%;
    color: var(--grey);
}

.register .button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: var(--blue-medium);
    border: 0.1em solid var(--blue-medium);
    border-radius: 0.5em;
    transition: background-color 0.5s ease-out;
    padding: .5em;
    transition: filter 0.2s ease-out;
}

.register .button:hover {
    filter: brightness(1.2);
}

.register form {
    text-align: center;
    max-width: 25em;
    margin: auto;
}

.register form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    margin-top: 1em;

}

.register form input[type='text'],
.register form input[type='email'],
.register form input[type='password'] {
    color: white;
    border: 0.1em solid var(--blue-medium);
    border-radius: 0.5em;
    background-color: var(--dark);
}

.register form input:focus {
    outline-color: var(--blue-medium);
}

.register form input::placeholder {
    color: var(--grey);
}

.register form input.button {
    margin-top: 2em;
}

.register form input:focus.dif,
.register form input[type='password'].dif {
    outline-color: var(--red);
    border-color: var(--red);
}

/* footer */
footer {
    background-color: var(--dark);
    text-align: center;
    color: white;
}